.header{
    background-color: rgb(138, 4, 4);
    font-family: palatino;
    font-size: 70px;
    color: aliceblue;
    text-align: center;
}
.header img{
    float: left;
    width: 95px;
}
.topnav{
    background-color: rgb(158, 35, 35);
    text-align: center;
}
.topnav a{
    color:aliceblue;
    text-align: center;
    font-size: x-large;
    
}
.general{
    background-color: rgb(135, 32, 32);
    color: azure;
}
.menu{
    background-color: rgb(135, 32, 32);
    color: azure;
}
.menu img{
    width: 100px;
}
.product{
    background-color: rgb(209, 28, 28);
}
.product img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.product h1{
    text-align: center;
}
.product p{
    text-align: center;
    font-size: larger;
}
.footer{
    background-color: rgb(135, 0, 0);
    text-align: center;
    color:gold
}